.search-bar {
  margin: 2rem auto 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.search-bar-error {
  border: 2px solid red;
}

.search-bar input {
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.search-bar button {
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.search-bar button:hover {
  background-color: lightgrey;
}

.search-icon {
  height: 1.2rem;
}

.error-message {
  height: 2rem;
  color: red;
}