.card-container{
  width: 18rem;
  margin: 1rem;
  padding: 1rem;
  border: 3px solid hsl(0, 0%, 90%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.15);
  color: black;
}

.date {
  font-size: 1.5rem;
}

.basic-info {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.current-temp {
  font-size: 2rem;
  font-weight: bold;
}

.extra-info {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  p {
    line-height: 2rem;
    white-space: nowrap;
  }
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.extra-icon {
  width: 2rem;
}